@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
    z-index: 10;
}
body{
    background-color: #080808;
    color: white;
}
/* ====================================Home page Styling========================================= */
#header{
    width: 100%;
    height: 100vh;
    background: url(./images/background_landscape.png);
    background-size: cover;
    background-position: center;
    z-index: 1;
}
.navPadding{
    padding: 125px 10px;
}
/* --------------------------navbar--------------- */
nav{
    background-color: transparent;
    backdrop-filter: blur(10px);
    width: 100%;
    display: flex;
    justify-content: space-between;   
    align-items: center;
    flex-wrap: wrap;
    padding: 1em 5em;
    position: fixed;
    top: 0px;
    z-index: 100;
}
nav .menu{
    display: none;
}
.logo{
    display: inline-block;
    font-weight: 600;
    font-size: 2rem;
}
.logo span{
    color: orange;
}
nav img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
/* nav ul{
    display: flex;
    gap: 3vw;
} */
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    position: relative;
    font-size: 30px;
}
nav ul li a::after{
    content: '';
    position: absolute;
    bottom: -6px;
    left: 0px;
    width: 0;
    height: 3px;
    background: orange;
    transition: .5s;
}
nav ul li a:hover::after{
    width: 100%;
}
/* ---------------------header------------------ */
.headerText{
    display: inline-block;
    margin-top: 20%;
    margin-left: 5%;
    font-size: 30px;
}
.headerText .title{
    font-size: 50px;
    font-weight: 400;
    margin-top: 20px;
}
.headerText .greeting{
    font-size: 4rem;
    font-weight: 700;
}
.greeting span{
    color: orange;
}

/* ========================== About styling ====================================== */

#aboutPage{
    padding: 80px 0;
    width: 100%;
    color: #ababab;
    border-top: 1px solid rgba(255, 255, 255, 0.215);
}
.row{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.aboutCol-1{
    flex-basis: 35%;
}
.aboutCol-1 img{
    width: 100%;
    border-radius: 15px;
}
.aboutCol-2{
    flex-basis: 60%;
}
.aboutCol-2 .subTitle{
    font-size: 60px;
    font-weight: 600;
    color: white;
    /* margin-bottom: 1rem; */
}
.aboutCol-2 .aboutPara{
    font-size: 25px;
}

.tabTitles{
    display: flex;
    margin: 20px 0 40px;
    gap:3rem;
}
.tabTitles .tabLinks{
    margin-right: 50px;
    cursor: pointer;
    position: relative;
    font-weight: 500;
    font-size: 30px;
}
.tabTitles .tabLinks::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    background-color: orange;
    transition: .5s;
    left: 0px;
    bottom: -8px;
}
.tabLinks.activeLink::after{
    width: 50%;
}
.tabContents ul li{
    font-size: 20px;
    list-style: none;
    margin: 10px 0;
}
.tabContents ul li span{
    font-size: 1rem;
    color: orange;
}
.tabContents{
    display: none;
}
.tabContents.activeTab{
    display: block;
}

/* ===================== Servises page styling ============================== */

#servises{
    padding: 30px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.215);
}
.servisesList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.servisesList div{
    background-color: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background-color .5s, transform 0.5s;
}
.servisesList div i{
    margin-bottom: 30px;
    font-size: 50px;
}
.servisesList div h2{
    font-size: 30px;
    margin-bottom: 15px;
    font-weight: 500;
}
.servisesList div a{
    font-size: 12px;
    margin-top: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
}
.servisesList div:hover{
    background-color: rgb(255, 179, 38);
    transform: translateY(-10px);
}

/* =========================== Portfolio styling ================================ */
#portfolio{
    padding: 30px 0;
    width: 100%;
    border-top: 1px solid rgba(255, 255, 255, 0.215);
}
.workList{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    /* height: 100%; */
    display: block;
    border-radius: 10px;
    transition: transform .5s;
}
.layer{
    height: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.605),orange);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: .5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer p{
    font-size: 14px;       
}
.layer a{
    margin-top: 20px;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background-color: white;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    color: orange;      
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    display: block;
    margin: 50px auto;
    padding: 14px 50px;
    width: fit-content;
    border: 1px solid orange;
    border-radius: 6px;
    text-decoration: none;
    color: white;
    transition: .3s;
}
.btn:hover{
    background-color: orange;
}

/* ==================================== Contact page styling ========================================== */
/* #contact{
    height: 80vh;
    width: 100%;
    padding: 3rem 0;
} */
.leftContact{
    flex-basis: 35%;
}
.leftContact p{
    margin-top: 30px;
}
.leftContact p i{
    color: orange;
    margin-right: 15px;
    font-size: 25px;
}
.socialIcons{
    margin-top: 30px;
    display: flex;
    align-items: center;
    gap: .5rem;
}
.socialIcons a{
    text-decoration: none;
    margin-right: 15px;
    transition: .2s;
}
.socialIcons a:hover{
    transform: scale(1.3) translateY(-7px);
}
.socialIcons .leetcode{
    margin-bottom: .3rem;
}
.btn.btn2{
    display: inline-block;
}
.bxs-download{
    margin-right: .5rem;
    font-size: 1rem;
}
.rightContact{
    flex-basis: 60%;
}
.rightContact form{
    width: 100%;
}
.rightContact form textarea{
    height: 20vh;
}
.rightContact form textarea, .rightContact form input{
    width: 100%;
    border: 0;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    background-color: #262626;
    resize: none;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 15px 60px;
    font-size: 1.4rem;
    margin-top: 20px;
    cursor: pointer;
    background-color: transparent;
}

footer{
    width: 100%;
    font-weight: 300;
    margin-top: 1.2rem;
    text-align: center;
    background-color: #262626;
    padding: 1.2rem 0;
}
footer span{
    color: orange;
    font-weight: 400;
}


/* ==================================== Media queries =============================== */

@media(max-width:1000px){
    nav{
        padding:15px 20px;
    }
    #header{
        background-position:right;
    }
    .headerText{
        margin-top: 50%;
        /* margin-left: 0; */
    }
    .headerText .title{
        font-size: 30px;
    }
    .headerText .greeting{
        font-size:50px;
    }
    nav .menu{
        display: block;
        font-size: 25px;
        font-weight: 600;
    }
    nav ul{
        background-color: orange;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        transition: .5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .menu{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    
}
@media(max-width:600px){
    nav{
        padding:15px 20px;
    }
    .headerText{
        margin-top: 70%;
        /* margin-left: 0; */
    }
    .headerText .title{
        font-size: 25px;
    }
    .headerText .greeting{
        font-size:35px;
    }
    nav .menu{
        display: block;
        font-size: 25px;
        font-weight: 600;
    }
    nav ul{
        background-color: orange;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        transition: .5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .menu{
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    .aboutCol-1, .aboutCol-2{
        flex-basis: 70%;
    }
    .aboutCol-1{
        margin-bottom: 30px;
    }
    .aboutCol-2{
        font-size: 14px;
    }
    .tabLinks{
        font-size: 16px;
        margin-right: 20px;
    }
}


#msg{
    color: green;
    margin-top: -40px;
    display: block;
}